{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AATO Smart Analyzer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{% static 'foto/aato_logo.png' %}" alt="Logo" class="logo">
      <h1>AATO Smart Analyzer</h1>
    </div>

    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <header>Trascina e rilascia per caricare il file</header>
      <span>OPPURE</span>
      <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="button" id="browseButton">Sfoglia file</button>
        <input type="file" name="file" id="fileInput" hidden accept=".p7m">
      

    <!-- Pulsante INVIA fuori dal box -->
    <button class="submit-button" type="submit">INVIA</button>
      </form>
    </div>
    <!-- Area per mostrare il testo estratto -->
    <div id="result" class="result-area" style="display: none;">
      <h2>Testo Estratto</h2>
      <pre id="extractedText"></pre>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
