{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag & Drop or Browse: File Upload | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="{% static 'foto/aato_logo.png' %}" alt="Logo" class="logo">
      <h1>AATO Smart Analyzer</h1>
    </div>

    <div class="drag-area">
      <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
      <header>Drag & Drop to Upload File</header>
      <span>OR</span>
      <form id="uploadForm" method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
        {% csrf_token %}
        <button type="button" id="browseButton">Browse File</button>
        <input type="file" name="file" id="fileInput" hidden accept=".p7m">
      </form>
    </div>

    <!-- Display extracted text here -->
    <div id="result" class="result-area" style="display: none;">
      <h2>Extracted Text</h2>
      <pre id="extractedText"></pre>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>