.highlighted {
    background-color: #4b5563; /* Grigio scuro */
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    margin: 5px 5px 0 0;
    font-weight: 600;
  }