* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f9f9f9, #e3e3e3);
  flex-direction: column;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header .logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 36px;
  font-weight: 600;
  color: #333;
}

.drag-area {
  background: white;
  border: 3px dashed #4a90e2;
  height: 450px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.drag-area.active {
  border: 3px solid #4a90e2;
  background: #f0f8ff;
}

.drag-area .icon {
  font-size: 80px;
  color: #4a90e2;
  margin-bottom: 10px;
}

.drag-area header {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.drag-area span {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin: 10px 0 15px 0;
  text-align: center;
}

.drag-area button, .drag-area #submitButton {
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 5px 15px rgba(74, 144, 226, 0.3);
  margin-top: 10px;
}

.drag-area button:hover, .drag-area #submitButton:hover {
  background: #357ab7;
}

.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.submit-button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background: #4a90e2;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 5px 15px rgba(74, 144, 226, 0.3);
}

.submit-button:hover {
  background: #357ab7;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px
}

.ball {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  margin: 0 10px;
  
  animation: 2s bounce ease infinite;
}

.blue {
  background-color: #4285F5;
}

.red {
  background-color: #EA4436;
  animation-delay: .25s;
}

.yellow {
  background-color: #FBBD06;
  animation-delay: .5s;
}

.green {
  background-color: #34A952;
  animation-delay: .75s;
}

@keyframes bounce {  
    50% {
        transform: translateY(25px);
    }
}